*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.container{
    border:  1px solid black;
    margin: 40px;
    width: 300px;
    height: 400px;
    
}
.caja{
    border: 1px solid black;
}
.caja1{
    background-color: yellow;
    position: absolute;
    width: 50px;
    height: 50px;
    
    
}
.caja2{
    background-color: blue;
    width: 100px;
    height: 100px;
}
.caja3{
    background-color: red;
    width: 100px;
    height: 100px;
}