*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 70px;
    background-color: rgba(0, 128, 0, 0.53);
}
.menu{
    width: 90%;
    height: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.menu >ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 35%;
    justify-content: space-between;
    list-style: none;
}
.menu >ul>li>a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: bold;
}
.menu__icono{
    position: absolute;
    transform: translateY(-50%);
    right: 0px;
}

#check , .menu__icono{
    display: none;
}
@media (max-width:768px){
    .menu>ul{
        display: block;
        position: fixed;
        top: 70px;
        z-index: 100;
        right: 0px;
        width: 100%;
        height: 100vh;
        left: -100%;
        background-color: rgba(0, 0, 0, 0.821);
        transition: left 0.6s;
    }
    .menu>ul>li{
        padding: 15px;
        display: flex;
        justify-content: center;
    }
    .menu>ul>li>a{
        color:white;
        display: block;
        
    }
    .menu__icono{
        display: block;
        cursor: pointer;
    }
    #check:checked ~ ul{
        left: 0px;
        transition: left 0.6s;
    }
}

