*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.contenedor{
    display: flex;
    justify-content: center;
}
.principal{
    margin: 30px;
    padding: 30px;
    border-radius:10px ;
    height: 500px;
    width: 500px;
    background-color: burlywood;
    box-shadow: 1px 1px 12px 0px black;
}
.titulo{
    text-shadow: 2px 1px 0px black;
    padding-top: 12px;
    text-decoration: underline;
}
.cont-lista-1{
    padding-left: 12px;
    margin-top: 22px;
    width: 30vw;
    background-color: rgb(51, 47, 47);
    border-radius: 10px ;
    box-shadow: 1px 1px 10px 0px rgb(0, 4, 255) ;
}
.cont-lista-1:hover{
    background-color: blueviolet;
    transition: 1s;
}
.lista-1{
   display: flex; 
   padding: 15px;
   list-style: none;

}
.lista-1 li {
    padding-left: 12px;
}
.lista-1 li a{
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px white;
}
.lista-1 li a:hover{
    color: brown;
    transition: 0.2s;
    text-decoration: underline;

}
.cont-lista-2{
    padding-left: 12px;
    margin-top: 22px;
    width: 30vw;
    background-color: rgb(51, 47, 47);
    border-radius: 10px ;
    box-shadow: 1px 1px 10px 0px rgb(0, 4, 255) ;
}
.lista-2{
   display: flex; 
   padding: 15px;
   list-style: none;

}
.lista-2 li {
    padding-left: 12px;
}
.lista-2 li a{
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px white;
}
.lista-2 li a:hover{
    color: brown;
    transition: 0.2s;
    text-decoration: underline;
    
}
.cont-lista-2:hover{
    background-color: blueviolet;
    transition: 1s;
}


#p-yoiner{
   border: 1px solid red;
   display: inline;
   margin-top: 20px;
   border-radius: px;
}

