*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: rgb(255, 255, 255);
}
.container{
    position: relative;
    background-color: blue;
    width: 100%;
    height: 100vh;
}
.wave{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 300px;
    background-image: url(./wave.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}


