*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --transform:translateY(-3px);
    --border:none;
    --color:rgb(250, 245, 245);
    --text-decoration:none;
    --box-shadow:1px 1px 10px 0px black;
    --transform-modal:translateY(-100vh);
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    min-height: 400vh;
    padding: .1px;
}

/*HEADER*/
.pagina{
    position: relative;
}
.header{
    position: fixed;
    z-index: 100;

    background-color: rgb(0, 60, 255);
    border: var(--border);
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.container__menu{
    border: var(--border);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
    margin-left: 20px;
    height: 100%;
    gap: 20px;
    justify-content: space-between;
}
.container__logo{
    font-weight: bold;
    text-shadow: 1px 1px 1px;
}
.container__elemento{
    text-decoration: var(--text-decoration);
    color: var(--color);
    transform: translateY(0px);
    transition: transform 0.5s;
}
.container__elemento:hover{
    transform:var(--transform) ;
    color: green;
    transition: transform color 0.5s;
}
.usuario{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-right: 15px;
    border: var(--border);
}
.usuario__login{
    text-decoration: var(--text-decoration);
    color:var(--color);
    transform: translateY(0px);
    transition: transform 0.5s;
}
.usuario__login:hover{
    transform: var(--transform);
    --color:green;
    transition: transform color 0.5s;
}
.usuario__register{
    color: var(--color);
    border: 1px solid;
    padding: 3px 15px;
    border-radius: 10px;
    border-color: crimson;
    text-decoration: var(--text-decoration);
    transition: 0.5s;
}
.usuario__register:hover{
    box-shadow:1px 1px 7px 0px red;
    transition: box-shadow 0.5s;
}

/*CUERPO DE PAGINA*/
.cuerpo{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);

    border: var(--border);
    width: 80%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    gap: 40px;
}
.cuerpo__texto{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cuerpo__titulo{
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-shadow: 1px 1px 1px black;
}
.cuerpo__parrafo{
    line-height: 18px;
}
.cuerpo__boton{
    text-decoration: var(--text-decoration);
    background-color: green;
    color: white;
    display: block;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    padding: 5px 15px;
    transition: 0.5s;
}
.cuerpo__boton:hover{
    box-shadow: var(--box-shadow);
    transition:box-shadow 0.5s;
}
.cuerpo__imagen{
    width: 50%;
    border-radius: 12px;
    display: block;
}
.pagina{
    position: relative;
    height: 100vh;
    background-color: rgba(0, 128, 0, 0.548);
}


/*MODALES DE PAGINA*/

/*MODAL LOGIN*/

.container__modal__login{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.425);
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s;
}
.modal__login{
    margin:auto;
    background-color:white;
    border: var(--border);
    border-radius: 10px;
    width: 30%;
    height: 300px;
    position: relative;
    transform: var(--transform-modal);
    transition: transform 1s;

}
.modal--vista{
    opacity: 1;
    --transform-modal:translateY(0px);
    transition-property: transform,opacity;
    transition-duration: 1s;
    pointer-events: unset;
}
.modal__login__cerrar{
    position: absolute;
    top:10px;
    right: 10px;
    border: var(--border);
    background-color: red;
    width: 20px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition:0.4s ;
}
.modal__login__cerrar:hover{
    box-shadow: var(--box-shadow);
    transition: box-shadow 0.4s;
}
.modal__login__titulo{
    text-align: center;
    margin-top: 35px;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px 1px;
    margin-bottom: 20px;
}
.modal__login__formulario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: var(--border);
    width: 60%;
    margin: auto;
    height: 200px;
    gap: 15px;
}
.modal__login__label{
    font-weight: 200;
    text-shadow: 1px 1px 1px ;
}
.modal__login__input{
    width: 100%;
    height: 25px;
    font-size: 15px;
    box-shadow: 2px 2px 4px 1px;
}
.modal__login__iniciar{
    width: 60%;
    border: none;
    margin: 0px auto;
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 5px 15px;
    margin-top: 15px;
    cursor: pointer;
    --box-shadow:0px 0px 0px white;
    --transform:translateY(0px);
    transition-property: box-shadow,transform;
    transition-duration:0.5s;
}
.modal__login__iniciar:hover{
    box-shadow: 1px 1px 6px 0px black;
    transform: translateY(-3px);
    transition-property: transform,box-shadow;
    transition-duration:0.5s;
}