*{
    margin: 0px;
    padding: 0px;
}
.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    cursor: pointer;
}
/*
pseudoclase :active = cuando le damos click 
cambia de color en este caso  
*/
/* .circle:active{
    background-color: blue;
} */

/*
pseudoclase :hover = cuando pasemos el mouse 
cambia de color en este caso  
*/
.circle:hover{
    background-color: blue;
}

/*
pseudoclase :checked = esta es para los input de tipo
chekbox o radio, nos dice cuando un elemento esta chuliado

*/
.input:checked{
    width: 50px;
    height: 50px;
}


/*
con la clase :disabled estilizara a los elementos 
que tengan la propiedad disabled,( el elemento 
esta desactivado )
*/
input[type="text"]:enabled{
    border: 2px solid red;
}
/*
con la clase :enabled estilizara a los elementos 
que estan activos ( el elemento 
esta activado )
*/
input[type="number"]:disabled{
    border: 2px solid blue;
}
/*
la pseudoclase :focus = estilizara cuando el usuario
le ubique el focus (|) en el input
*/
input:focus{
   height: 30px;
}

.box{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    justify-content: center;
    height: 200px;
    margin-left: 10px;
    width: 50%;
    margin-top: 20px;
}
.box > div{
    width: 100%;
    height: 50px;
    border: 1px solid black;
}
/*
la pseudoclase :first-child = selecciona al primer
hijo de un elemento padre en html.
se le indica que elemento 
*/
.box > div:first-child{
    background-color: red;
}
/*
la pseudoclase :last-child = selecciona al ultimo
hijo de un elemento padre en html.
se le indica que elemento 
*/
.box > div:last-child{
    background-color: black;
}
/*
la pseudoclase :nth-child(numero) = selecciona 
al elemento que le indiquemos a traves de un
 numero de un elemento padre en html.
se le indica que elemento 
*/
.box > div:nth-child(3){
    background-color: blue;
}
/* 
la pseudoclase :link = Selecciona cualquier <a>
 que aún no se haya visitado */
a:link{
    background-color: green;
}

/* 
la pseudoclase :not() = Selecciona los elementos
 que no coincidan con lo que se le indique.
 estilizara a los elementos p que no tengan la
 clase .parrafo
 */
p:not(.parrafo){
    color: blue;
}



