*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    width: 100px;
    height: 100px;
    margin: 40px auto;
    position: relative;
    cursor: pointer;

}
.container > .caja{
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    backface-visibility:hidden;
    transition: 1s;
}
.front{
    background-color: black;
    color: white;
    transform: perspective(300px) rotateY(0deg);
}
.back{
    background-color: rgb(240, 9, 9);
    color: white;
    transform: perspective(300px) rotateY(180deg);
}
.container:hover > .front{
    transform: perspective(300px) rotateY(180deg);
}
.container:hover > .back{
    transform: perspective(300px) rotateY(360deg);
}