*{
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 200vh;
}
.hero{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    position: relative;

}
.hero__contenedor{
    width: 80%;
    max-width: 1200px;
    height: 100vh;
    margin: auto;
    position: relative;
}
.hero__texto{
    position: relative;
    left: 0px;
    top: 40%;
    transform: translateY(-40%);
}
.hero__titulo{
    font-size: 40px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 0px;
}
.hero__parrafo{
    width: 60%;
    margin-bottom: 28px;
}
.hero__btn{
    width: 80px;
    background-color: blue;
    color: white;
    padding: 8px 40px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.6s;
    cursor: pointer;
}
.hero__btn:hover{
   box-shadow: 1px 1px 10px 0px black;
   transition:box-shadow 0.6s;
}
.hero__imagen{
    position:absolute ;
    right: 0px;
    top: 40%;
    transform: translateY(-40%);
}
.imagen{
    display: block;
}
.hero__wave{
    background-image: url(./imagenes/wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 200px; 
}

/*Modal*/

.container{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition:opacity 0.4s;
    background-color:rgba(0, 0, 0, 0.589);

    --transform: translateY(-100vh);
    --transition: transform 0.8s ;
}
.container__modal{
   width: 50%;
   max-width: 600px;
   max-height: 90%;
   margin:auto;
   background-color: white;
   border-radius: 12px;
   text-align: center;
   padding: 15px 20px;
   position: relative;
   transform: var(--transform);
   box-shadow: 1px 1px 10px 0px;

   transition: var(--transition);
}
.modal--vista{
    pointer-events: unset;
    opacity: 1;
    
    --transform: translateY(0px);
}
.container__modal__cerrar{
    display: inline-block;
    margin: auto;
    position: absolute;
    font-weight: bold;
    right: 20px;
    width: 20px;
    height: 20px;
    background-color: red;
    text-align: center;
    cursor: pointer;
    border-radius: 20%;
    transition: box-shadow 0.4s;
}
.container__modal__cerrar:hover{
    box-shadow: 1px 1px 5px 0px;
    transition: box-shadow 0.4s;
}
.container__modal__titulo{
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px;
    border-bottom: 1px solid;
}
.container__elementos{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    width: 90%;
    margin: auto;
}
.container__imagen{
    height: 150px;
    min-height: 100px;
    margin-top: 10px;
    display: block;
}
.container__modal__parrafo{
    width: 60%;
   
}

