*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --b:1px solid black;
}
.container{
    width: 50vw;
    height: 50vh;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    background-color: tomato;
    background-image: url(./nosotros.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        border-radius: 50%;
    

    /* border-top-left-radius:50% ;
    border-top-right-radius:50% ;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%; */
    box-shadow: 3px 3px 5px 0px black;

    border-radius:20px 20px 50% 50%;

    border-color: blue;
    border-style: solid;
    border-width: 5px;
}
.caja{
    border: var(--b);
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 4px;
    text-shadow: 1px 1px 2px;
    border-radius: 40%;
    background-color: brown;


    animation-name: escalaInfinita;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    cursor: pointer;
    
}
h1{
    position: absolute;
}

.caja:hover {
   animation: none;
}
.container:hover{
    background-image: url(./pan_1.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        border-radius: 50%;
}


@keyframes escalaInfinita {
    0%{
        background-image: url(./nosotros.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        border-radius: 50%;
        
    }
    100%{
        transform: scale(1.5);
        background-color: blue;
        color: rgb(17, 249, 60);
        border-radius: 50%;
        background-image: url(./pan_1.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }
}
