*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    --b:1px solid black;
}
.container{
   
    width: 60%;
    height: 500px;
    margin: 30px auto;
    border: 1px solid black;
    
    display: grid;
    /* columns*/
    grid-template-columns:repeat(auto-fit,minmax(100px,1fr)) ;
    /* grid-template-columns: repeat(3,200px); */
    /* grid-template-columns:repeat(auto-fit,minmax(100px,200px)); */
    
    /* rows*/
    /* grid-template-rows:1fr 1fr 1fr 1fr ; */
    /* grid-template-rows: repeat(4,90px); */
    /* grid-template-rows:repeat(auto-fit,minmax(100px,200px)); */
    
    /* grid-template-areas: 
        "div1 div1 div2 div2" 
        "div3 div3 div3 div3"
        "div3 div3 div3 div3"
        "div4 div4 div4 div4"
        
    ;
        gap: 5px; */
        
        
    }
.item{
    border: 1px solid black;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.item1{
    
    
}
.item2{
  
    
}
.item3{
   
    
    
}
.item4{
    
    
}
