*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.cabecera{
    width: 100%;
    background-color: beige;
    height: 70px;
    display: flex;
    position: fixed;
    z-index: 100;
}
.texto{
    border: 1px solid;
    position: relative;
    top: 80px;
    width: 80%;
    margin: auto;
}

.nav_menu{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
}

.nav_menu >ul{
    display: flex;
    gap: 30px;
    list-style: none;

}
.nav_menu >ul >li >a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
}
.contacto{
    background-color: rgba(11, 183, 11, 0.709);
    padding: 5px 10px;
    border-radius: 10px;
}
.menu_imagen{
    cursor: pointer;
    width: 30px;
    height: 30px;
}
#check , .menu_imagen{
    display: none;
}
body{
    height: 400vh;
}
@media (max-width:768px)  {
    .nav_menu >ul{
        display: block;
        position: fixed;
        z-index: 100;
        left: -100%;
        background-color: rgb(3, 3, 3);
        transition: left 0.5s;
        top: 70px;
        right: 0px;
        width: 100%;
        height: 100vh;
        

    }
    .nav_menu >ul>li{
        padding: 20px;
        display: flex;
        justify-content: center;
    }
    .nav_menu >ul>li>a{
        color: white;
    }
    .menu_imagen{
        display: block;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
    }
    #check:checked ~ ul{
        left: 0px;
        transition: left 0.5s;
    }
}
