*{
    margin: 0;
    padding: 0;
}
.contenedor{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
.con{
    margin-top: 60px;
    display: flex;
    flex-direction: inherit;
    align-items: center;
}



