
.container{
    height: 400vh;
    overflow: hidden;
}
.to_top{
    border: 1px solid black;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 800px;
    right: 40px;
    border-radius: 8px;
    background-color: red;
    opacity: 0;
    transition: .6s;
}
.activo{
    bottom: 40px;
    cursor: pointer;
    opacity: 1;
}
.titulo{
    border: 1px solid black;
    margin: 20px;
    width: 50%;
    margin: 0px auto;
    margin-bottom: 700px;
    transform: translateX(800px);
    transition: .6s;
}
.ver{
    transform: translateX(0px);
}
