
*{
    margin: 0px;
}
.body{
    overflow: hidden;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: blue;
    color: white;
}
.texto{
    font-size: 35px;
    margin-right: 10px;
    overflow: hidden;
}
.palabra{
    color: red;
    position: relative;
    font-size: 25px;
}
.palabra::before{
    content: "";
    width: 100%;
    position: absolute;
    height: 100%;
    border-left: 2px solid white;
    top: 0px;
    left: 0px;
    background-color: blue;
    animation: animacion 4s steps(12)  infinite ;
}
@keyframes animacion{
    40%,60%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}