*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --border:1px solid black;
}
body{
    font-family:Arial, Helvetica, sans-serif;
}
.cabeza{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 83%;
    height: 244px;
    gap: 30px;
    margin: auto;
    justify-content: start;
}
.cabeza_contacto{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.526);
    letter-spacing: 1px;
}