*{
    margin: 0;
    padding: 0;
}
body{
    height: 200vh;
}
.navegacion{
    position: fixed;
    width: 100%;
    background-color:blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 60px;
}
.navegacion__titulo{
    margin-left: 30px;
}
.navegacion__enlace{
    color: inherit;
    text-decoration: none;
    font-size: 20px;
    margin-right: 40px;
}
#check{
    opacity: 0;
}

@media (max-width:549px){
    .icono{
        height: 30px;
        width: 30px;        
        margin-right: 20px;
        display: grid;
        grid-column: 1fr;
        cursor: pointer;
        position: relative;
        --transition:transform 0.5s;
    }
    .icono_linea{
        width: 80%;
        height: 3px;
        margin: auto;
        background-color:white;
    }
    #check:checked ~ .navegacion__enlaces{
        left: 0px;
        transition: left 0.3s;
    }
    #check:checked ~ .icono > .icono_linea_medio{
        transform: translateX(222px);
        transition: transform 0.5s;
    }
    #check:checked ~ .icono > .icono_linea_arriba{
        position: absolute;
        top: 50%;
        transform: rotate(40deg);
        transition: var(--transition);
    }
    #check:checked ~ .icono > .icono_linea_abajo{
        transform: rotate(-40deg);
        position: absolute;
        top: 50%;
        transition: var(--transition);

    }
    .navegacion__enlaces{
        position: fixed;
        width: 50%;
        display: flex;
        flex-direction: column;
        padding-top:20px;
        gap: 30px;
        border-top-right-radius: 10px;
        background-color: blue;
        top: 65px;
        height: 100vh;
        left: -300vh;
        transition: left 0.3s;
    }
    .navegacion__enlace{
        width: 90%;
        height: 50px;
        padding-left: 15px;
        display: flex;
        align-items: center;
    }
    .navegacion__enlace:hover{
        background-color: black;
    }
}