*{
    margin: 0;
    padding: 0;
}
.principal{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    
}
.index{
    border: 1px solid;
    width: 40%;
    border-radius: 12px;
    box-shadow: 1px 1px 10px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 3px ;
    font-size: 15px;
}
.con{
    margin: 20px;
}

/*combinador descendiente (en espacio en blanco)
estilizara a todos los elementos con el selector que este despues del
espacio sin importar los niveles
*/
.con  .titulo-3{
    border: 1px solid;
    border-radius: 12px;
    background-color: blue;
}

/*combinador de hijo directo ( > )
estilizara a todos los elementos con el selector que este despues del
signo > , solo los del primer nivel
*/
.lista > .titulo-3{
    list-style:decimal;
    color: red;
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
    background-color: black;
    border: 1px solid;
    margin-top:10px;
    border-radius: 10px;
}

/*combinador de hermano adyacente ( + )
este seleccionara el primer elemento que este debajo del 
elemento con la clase articulo
*/
/*No realiza el cambio porque se esta utilizando la virguilla abajo
*/
/* .articulo + p{
    color: yellow;
} */



/*combinador de hermano adyacente seleccionara
 a todos los hermanos ( ~ )
 seleccionara a todos los elementos hermanos de otro elemento
 */

.articulo ~ .parrafo{
    color: rgb(0, 89, 255);
}


/*selector de atributo
seleccionada a todo los elementos que tenga el atrubuto que le
indiquemos entre [ atributo ]
*/
/* [class]{
    color: blue;
} */

/*
selecionara a todos los input donde el value termine con la 
palabra jose, [value~="jose"]
*/
[value~="jose"]{
    color:red;
}

/*
selecionara a todos los input donde el value comience con la 
palabra bello, [value^="bello"]
*/
[value^="bello"]{
    color:yellow;
}

[value$="salcedo"]{
    color:rgb(68, 0, 255);
}

