*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 139, 0.278);
    scroll-behavior: smooth;
    height: 200vh;
}
div{
    border: 2px solid orange;
    display: flex;
    
    align-items: center;
    
    justify-content: space-evenly;
}
.grafica__1{
    min-width: 45%;
    max-width: 45%;
    min-height: 60%;
}
.fija{
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 10px;
    right: 20px;
    background-color: red;
    opacity: 0;
    pointer-events: none;
    transition: 1s;
}
.mostrar{
    opacity: 1;
    pointer-events: unset;
    cursor:pointer ;
}