*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(222, 243, 242);
}
.container{
    width: 650px;
    height: 200px;
    margin:30px  auto;
    position: relative;
}
.left{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.right{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.slider{
    height: 95%;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    scroll-behavior: smooth;
    overflow: hidden;
    gap: 5px;
}
.slider >div{
    height: 100%;
    min-width: 200px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 9px;
}
.slider >div:nth-child(1){
    background-image:url(./istockphoto-1368263969-612x612.jpeg);
}
.slider >div:nth-child(2){
    background-image:url(./img_2.jpeg);

}
.slider >div:nth-child(3){
    background-image:url(./img_3.jpeg);
    
}
.slider >div:nth-child(4){
    background-image:url(./img_4.jpeg);
    
}
.slider >div:nth-child(5){
    background-image:url(./img_5.jpeg);
    
}
.slider >div:nth-child(6){
    background-image:url(./img_6.jpeg);
    
}
.slider >div:nth-child(7){
    background-image:url(./img_7.jpeg);
    
}
p{
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 2px 2px 4px 0px black;
    transition: 1s;
}
.left{
    cursor: pointer;
    user-select: none;
    background-image: url(./bx-chevron-left.svg);
    
}
.right{
    cursor: pointer;
    user-select: none;
    background-image: url(./bx-chevron-right.svg);
}