*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}
:root{
    --border:1px solid black;
}
body{
    height: 300vh;
    font-family: 'Poppins', sans-serif;
}
.cabeza{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color:rgba(255, 166, 0, 0.721) ;
}
.cabeza__nav{
    width: 85%;
    height:100% ;
    margin:auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.cabeza__logo{
    font-weight: bolder;
    font-size: 30px;
    letter-spacing: 1.3px;
    color: black;
    text-decoration: underline;
    text-shadow: 1px 1px 1px;
}
.cabeza__lista__vertical{
    display: flex;
    flex-direction: row;
    width: 28%;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.cabeza__lista__vertical >li{
    position: relative;
    width: max-content;
}
.cabeza__lista__vertical >li:hover{
    background-color: white;
    transition:background-color 0.5s ;
}
.cabeza__lista__vertical >li> a{
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: black;
    font-weight: bolder;
    padding:20px 0px;
    display: block;
}
.cabeza__lista__vertical >li:hover >ul{
    display: block;
}
span{
    font-size: 14px;
}

.cabeza__menu__horizontal{
    position: absolute;
    display: none;
    left: 0;
    list-style:none;
    background-color: rgba(0, 0, 0, 0.715);
    width: 120px;
    border: var(--border);
}
.cabeza__menu__horizontal>li{
    width: 100%;
    padding: 8px 0px;
}
.cabeza__menu__horizontal>li:hover{
    background-color:rgba(0, 0, 0, 0.201);
}
.cabeza__menu__horizontal>li>a{
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    padding-right: 70px;
}
.icono__menu{
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: space-between;
    cursor: pointer;
}
.linea{
    width: 100%;
    background-color: blue;
    height:5px;
    
}
.icono__menu,#check{
    opacity: 0;
}

@media (max-width:794px){
    .icono__menu{
        opacity: 1;
    }
    .cabeza__lista__vertical{
        opacity: 1;
        position: fixed;
        top: 60px;
        left: 0px;
        width: 50%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        background-color: rgba(0, 0, 0, 0.488);
        transform: translateX(-300vh);
        }
    #check:checked ~ ul{
        transform: translateY(0px);
        transition:transform 0.5s 0.1s;
        
    }
    .cabeza__lista__vertical>li{
        width: 100%;
        padding-left: 20px;
       
    }
    .cabeza__menu__horizontal{
        width: 100%;
    }
    .cabeza__menu__horizontal>li{
        width: 100%;
        
    }
    .cabeza__menu__horizontal>li>a{
        padding-left: 58px;

    }
    .cabeza__lista__vertical>li:hover{
       background-color: black;
    }
    .cabeza__lista__vertical>li>a{
        color: orange;
    }
    
    
}  



