*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgba(0, 0, 0, 0.76);
}
.con{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: end;
    

    position: absolute;
    right: 20px;
    top:30px;

    width: 10%;
    height: 400px;
    border: 1px solid white;
}
.con__caja{

    border: 1px solid;
    width: 100px;
    height: 50px;
    background-color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 10px; 
}
