*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(148, 141, 141);
    
}
.contenedor{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.555),rgba(0, 0, 255, 0.281));
}

.contenedor__texto{
    position: absolute;
    left: 10%;
    top: 50%;
    width: 35%;
    height: 200px;
    transform: translateY(-50%);  
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}
.contenedor__titulo{
    margin-bottom: 30px;
    color:white;
    font-size:1 rem;
    text-shadow: 1px 1px 0px;
    letter-spacing: 2px;
    padding-bottom: 10px;
    border-bottom:2px solid white;
    border-bottom-style: dotted;
}
.contenedor__btn{
    display: inline-block;
    margin-top: 30px;
    padding: 8px 20px;
    color: white;
    background-color: blue;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.5s;
}
.contenedor__btn:hover{
    transform: translateY(6px);
    color: black;
    background-color: white;
    transition: 0.5s;
}

.contenedor__imagen{
    position: absolute;
    top: 50%;
    right: 20%;   
    transform: translateY(-50%);
}
.contenedor__wave{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 200px;
    width: 100%;
    background-image: url(./imagenes/wave.svg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

