*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.linea{
    background-color: rgba(255, 0, 0, 0.897);
    width: 100%;
    height: 3px;
}
.cabeza{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: var(--border); */
    width: 80%;
    margin: auto;
    justify-content: space-between;
    margin-top: 8px;
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    gap: 25px;
    /* border: var(--border); */
}
.menu__listas{
    display: flex;
    width: 80%;
    /* border: var(--border); */
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    height: 100%;
}
.menu__listas >li >a{
    color: black;
    text-decoration: none;
    font-size: 15px;
}
.menu__listas >li >a:hover{
    border-bottom: 3px solid orange;
}

.usuario{
    width: 140px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: var(--border); */
}
.usuario>a{
    font-size: 15px;
    text-decoration: none;
    color: orange;
   
}
.usuario__login{
    display: block;
    border: 1px solid;
    padding: 5px;
    border-radius: 5px;
    
}

/*CUERPO*/
.cuerpo{
    width: 80%;
    margin: 55px auto;
    display: flex;
    flex-direction: row;
    gap: 58px;
}
.container__texto{
    width: 50%;
}
.container__titulo{
    width: 80%;
    font-size: 45px;
    letter-spacing: 1px;
}
#titulo_1{
    color: orange;
}
#titulo_2{
    color: rgba(10, 10, 10, 0.829);
}
.parrafo{
    margin-top: 10px;
    font-size: 23px;
    width: 70%;
}
.parrafo_2{
    margin-top: 12px;
}
.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    height: 100px;
    align-content: flex-start;
    justify-content: start;
    margin-top: 5px;
}
.flex__item{
    width: 150px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
    margin-top: 13px;
    margin-right: 10px;
    border-radius: 5px;
    transform: translateY(0px);
    transition: transform 0.5s;
}
.flex__item:hover{
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 255, 0.322);
    transform: translateY(-3px);
    transition-property: box-shadow,transform;
    transition-duration: 0.5s;
}

.cuerpo__imagen{
    width: 300px;
    height: 300px;
    box-shadow: 3px 3px 15px 6px rgba(0, 0, 255, 0.192);
}
.menu__imagen{
    width: 160px;
    height: 50px;
}
.container{
    display: none;
}


/*MODAL */

.modal{
    display: flex;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.349);
    z-index: 100;
    pointer-events: none;

    opacity: 0;
    --transform:translateY(-100vh);
    transition-property: transform,opacity;
    transition-duration: 1s;

}
.modal__container{
    width: 35%;
    height: 300px;
    margin:  auto;
    border: 1px solid black;
    background-color: white;
    border-radius: 8px;
    position: relative;
    text-align: center;

    transform: var(--transform);
    transition: transform 1s;
}
.modal--vista{
    pointer-events: unset;
    opacity: 1;
    --transform:translateY(0px) ;
    transition-property: opacity ,transform ;
    transition-duration: 1s;
}

.modal__cerrar{
    position: absolute;
    right: 8px;
    top: 8px;
    background-color: red;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.modal__cerrar:hover{
    box-shadow: 1px 1px 5px black;
    transition:box-shadow 0.5s ;
}
.modal__titulo{
    margin-top: 30px;
    margin-bottom: 20px;
    color: orange;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px black;
}
.modal__formulario{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 15px;
    width: 60%;
    margin: auto;
    align-items: flex-start;
}
.modal__label{
    font-size: 18px;
}
.modal__input{
    box-shadow: 1px 1px 5px 0px black;
    width: 100%;
    height: 30px;
    font-size: 17px;
    color: orange;
}
.modal__boton{
    width: 120px;
    margin: auto;
    margin-top: 5px;
    border: none;
    background-color: rgba(0, 0, 255, 0.76);
    padding: 6px 15px;
    border-radius: 10px;
    color: white;
    transform: translateY(0px);
    box-shadow: 0px 0px 0px 0px black;
    transition-property: transform ,box-shadow;
    transition-duration:0.5s;
}
.modal__boton:hover{
    box-shadow: 1px 1px 5px 0px black;
    transform: translateY(-5px);
    transition-property: transform ,box-shadow;
    transition-duration:0.5s;
}